<p id="notice"><%= notice %></p>

<p>
  <strong>Id zona localidad:</strong>
  <%= @zona_localidad.id_zona_localidad %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @zona_localidad.zona %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @zona_localidad.localidad %>
</p>

<%= link_to 'Edit', edit_zona_localidad_path(@zona_localidad) %> |
<%= link_to 'Back', zona_localidads_path %>
