<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Id usuario</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Cc</th>
      <th>Genero</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Contrasena</th>
      <th>Rol</th>
      <th>Fecha nacimiento</th>
      <th>Horario</th>
      <th>Numero vehiculo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.id_usuario %></td>
        <td><%= usuario.nombres %></td>
        <td><%= usuario.apellidos %></td>
        <td><%= usuario.cc %></td>
        <td><%= usuario.genero %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.telefono %></td>
        <td><%= usuario.contrasena %></td>
        <td><%= usuario.rol %></td>
        <td><%= usuario.fecha_nacimiento %></td>
        <td><%= usuario.horario %></td>
        <td><%= usuario.numero_vehiculo %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
