<p id="notice"><%= notice %></p>

<p>
  <strong>Id usuario:</strong>
  <%= @usuario.id_usuario %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @usuario.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @usuario.apellidos %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @usuario.cc %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @usuario.genero %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @usuario.telefono %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @usuario.contrasena %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @usuario.rol %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @usuario.fecha_nacimiento %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @usuario.horario %>
</p>

<p>
  <strong>Numero vehiculo:</strong>
  <%= @usuario.numero_vehiculo %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
