<p id="notice"><%= notice %></p>

<p>
  <strong>Id usuario zona:</strong>
  <%= @usuario_zona.id_usuario_zona %>
</p>

<p>
  <strong>Id usuario:</strong>
  <%= @usuario_zona.id_usuario %>
</p>

<p>
  <strong>Localidad zona:</strong>
  <%= @usuario_zona.localidad_zona %>
</p>

<%= link_to 'Edit', edit_usuario_zona_path(@usuario_zona) %> |
<%= link_to 'Back', usuario_zonas_path %>
