<p id="notice"><%= notice %></p>

<p>
  <strong>Id bicitaxista agremiacion:</strong>
  <%= @bicitaxista_agremiacion.id_bicitaxista_agremiacion %>
</p>

<p>
  <strong>Id usuario:</strong>
  <%= @bicitaxista_agremiacion.id_usuario %>
</p>

<p>
  <strong>Id agremiacion:</strong>
  <%= @bicitaxista_agremiacion.id_agremiacion %>
</p>

<%= link_to 'Edit', edit_bicitaxista_agremiacion_path(@bicitaxista_agremiacion) %> |
<%= link_to 'Back', bicitaxista_agremiacions_path %>
